@using Sistema.Stoque.v1.Dominio

@{
    ViewBag.Title = "Home Page";
    var usuario = Session["usuario"] as Usuario;
}

<br />
<br />
<br />
<div class="jumbotron">
    <h1>Sistema De Gestão de Stocks</h1>
    <p class="lead">Seja Bem Vindo(a) Sr(a) @usuario.NomeCompleto</p>
    <p> Para Mais Informações Contactar a DTI Pelo Ramal: <b>1005</b> &raquo;</p>
</div>

<div class="row">

</div>